/*-------- General Settings, wrapper, body ------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  color: white;
}

body {
  font-family: Century Gothic;
  /*
  background-image: linear-gradient(45deg, #1c1133, #523764);
  */
  background: linear-gradient(45deg,#120f35,#33162c);
  color: rgba(195, 141, 124, 255);
  color: white;

  background-size: cover;
  text-align: center;
}

.wrapper {
  margin-left: 20%;
  margin-right: 20%;
  padding: 2%;


}

@media (max-width: 1080px) {
  .wrapper {
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
  }
}

.world {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9997;
  pointer-events: none;
  animation-name: fadein;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/*-------- Nav-Leiste ------------*/

header {
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  color: white;
  font-size: 28px;
  margin-right: 3px;
}

.logo span {
  font-size: 1.3rem;
  font-weight: 600;
}

.navbar {
  display: flex;
}

.navbar a {
  font-weight: 600;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.4s ease-in-out;
}

.navbar a:hover {
  color: #ff524e;
}

.navbar a.active {
  color: #ff524e;
}

#menu-icon {
  font-size: 35px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media (max-width: 1280px) {
  .wrapper {
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
  }
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }
  .navbar a {
    padding: 5px 0;
    margin: 0px 20 px;
  }
}

@media (max-width: 1090px) {
  .wrapper {
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
  }
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 29vh;
    background: #ff514e17;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }
  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease-in-out;
  }
  .navbar a:hover {
    color: #ff524e;
    transform: translateY(5px);
  }
  .navbar a.active {
    color: #ff524e;
  }
  .navbar.open {
    right: 2%;
  }
}

/*-------- Headlines, texts, paragraphs ------------*/

h1 {
  margin-top: 15%;

  font-size: 370%;
  font-weight: lighter;
  color: #9e7364;
}

p {
  font-weight: 1200;
  font-size: larger;
}

.redParagraph {
  color: #ff524e;
}

.hoverButton {
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;

  border: 3px solid #ff524e;
  border-radius: 50px;

  background-color: #ff524e;

  transition: color 0.5s, background-color 0.5s;
}

.hoverButton:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

/*-------- Div-Boxes ------------*/

.characterBoxSingle {
  margin: 1%;
  border-radius: 50px;
}

.characterBoxMultiple {
  display: flex;
  border-radius: 51px;

  margin-bottom: 3%;
}

.threeColumns {
  width: 50%;
}

/*-------- Images ------------*/

.mainImage {
  height: 50%;
  width: 50%;
  border-radius: 30px;
  transition: width 0.5s, height 0.5s;
}

.mainImage:hover {
  height: 53%;
  width: 53%;
}

.characterImage {
  width: 70%;
  height: 40%;

  margin: 1%;
  border-radius: 30px;

  transition: width 0.5s, height 0.5s;
}

.characterImage:hover {
  width: 75%;
  height: 45%;
}

.characterImageSmall {
  width: 200px;
  height: 150px;
  margin: 1%;
  border-radius: 30px;

  transition: width 0.5s, height 0.5s;
}
.characterImageSmall:hover {
  width: 225px;
  height: 175px;
}
