/*-------- General Settings, wrapper, body ------------*/
* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Century Gothic;
  text-align: center;
  color: white;
  background: linear-gradient(45deg, #120f35, #33162c);
}

main {
  margin-left: 20%;
  margin-right: 20%;
  padding: 2%;
}

table {
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
}

table tr td {
  padding: 4%;
}

form input {
  font-size:medium;
  color: white;
  background-color: #ff524e;
  border: 1px solid #ff524e ;
  border-radius: 5px;
  padding: 2%;
  transition: background .5s ease-in-out;
}

form input:hover {
  background: rgba(255, 255, 255, 0);
}

/*------------ Nav-Leiste ------------*/
header {
  color: white;
  background: transparent;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding: 28px 12%;
  transition: all 0.5s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  color: white;
  font-size: 28px;
  margin-right: 3px;
}

.logo span {
  font-size: 1.3rem;
  font-weight: 600;
}

nav {
  display: flex;
}

nav a {
  font-weight: 600;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.4s ease-in-out;
}

nav a:hover {
  color: #ff524e;
}

nav a.active {
  color: #ff524e;
}

#menu-icon {
  font-size: 35px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media (min-width: 1080px) {
  .characterImageSmall {
    width: 200px;
    height: 150px;
    margin: 1%;
    border-radius: 30px;
    transition: width 0.5s, height 0.5s;
  }
  .characterImageSmall:hover {
    width: 225px;
    height: 175px;
  }

  h1 {
    font-size: 370%;
    font-weight: lighter;
    color: #9e7364;
    margin-top: 15%;
  }

  p {
    font-weight: 1200;
    font-size: larger;
  }
}

@media (max-width: 1280px) {
  main {
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
  }
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }
  nav a {
    padding: 5px 0;
    margin: 0px 20 px;
  }
}

@media (max-width: 1080px) {
  h1 {
    font-size: 170%;
    font-weight: lighter;
    color: #9e7364;
    margin-top: 15%;
  }

  main {
    margin-left: 5%;
    margin-right: 5%;
  }
  #menu-icon {
    display: block;
  }
  nav {
    background: #ff514e17;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 29vh;
    border-radius: 10px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.5s ease-in-out;
  }
  nav a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease-in-out;
  }
  nav a:hover {
    color: #ff524e;
    transform: translateY(5px);
  }
  nav a.active {
    color: #ff524e;
  }
  nav.open {
    right: 2%;
  }
  .characterImageSmall {
    width: 200px;
    height: 150px;
    margin: 1%;
    border-radius: 30px;
    transition: width 0.5s, height 0.5s;
  }
  .characterImageSmall:hover {
    width: 225px;
    height: 175px;
  }
}

@media (max-width: 600px) {
  iframe {
    width: 260px;
    height: 115px;
  }
  h1 {
    font-size: 180%;
    font-weight: lighter;
    color: #9e7364;
    margin-top: 25%;
  }
  p {
    font-weight: 1200;
    font-size: large;
  }
  main {
    margin-left: 10%;
    margin-right: 10%;
  }
  #menu-icon {
    display: block;
  }
  nav {
    background: #ff514e17;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 29vh;
    border-radius: 10px;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.5s ease-in-out;
  }
  nav a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease-in-out;
  }
  nav a:hover {
    color: #ff524e;
    transform: translateY(5px);
  }
  nav a.active {
    color: #ff524e;
  }
  nav.open {
    right: 2%;
  }

  .characterBoxMultiple {
    margin-bottom: 20%;
  }

  .characterImageSmall {
    width: 125px;
    height: 75px;
    margin: 1%;
    border-radius: 30px;
    transition: width 0.5s, height 0.5s;
  }

  .characterImageSmall:hover {
    width: 140px;
    height: 90px;
  }
}

/*-------- Headlines, texts, paragraphs ------------*/

.redParagraph {
  color: #ff524e;
}

.hoverButton {
  color: white;
  background-color: #ff524e;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
  border: 3px solid #ff524e;
  border-radius: 50px;
  transition: color 0.5s, background-color 0.5s;
}

.hoverButton:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

.hoverLink {
  font-size: larger;
  color: #ff524e;
  transition: color 0.5s;
}

.hoverLink:hover {
  color: white;
}

.hoverLinkNonHover {
  font-size: larger;
}

/*-------- Div-Boxes ------------*/

.characterBoxSingle {
  margin: 1%;
  border-radius: 50px;
}

.characterBoxMultiple {
  display: flex;
  border-radius: 51px;
  margin-bottom: 3%;
}

.threeColumns {
  width: 50%;
}

/*-------- Images ------------*/

.mainImage {
  height: 50%;
  width: 50%;
  border-radius: 30px;
  transition: width 0.5s, height 0.5s;
}

.mainImage:hover {
  height: 53%;
  width: 53%;
}

.characterImage {
  width: 70%;
  height: 40%;
  margin: 1%;
  border-radius: 30px;
  transition: width 0.5s, height 0.5s;
}

.characterImage:hover {
  width: 75%;
  height: 45%;
}


